*.db
*.db-shm
*.db-wal
*.nb3
Premium/
/Premium/
.Premium/
/Premium/*
D:/Documents/Navicat/Premium/
MySQL/Servers/11_hb_mysql/oydhrp_hb/20240311171604.tmp
MySQL/Servers/11_hb_mysql/oydhrp_hb/20240311171604/40685fdf-d7de-4ff6-8f8b-19f7efd8ebfc.data.00000.sql
