SQL2000-ANHUI/id_cache.db
SQL2000-ANHUI/id_cache.db-shm
SQL2000-ANHUI/id_cache.db-wal
D:/Documents/Navicat/SQL Server/Servers/*.db
D:/Documents/Navicat/SQL Server/Servers/*.db-shm
D:/Documents/Navicat/SQL Server/Servers/*.db-wal
SQL2000-ANHUI/id_cache.db-shm
SQL2000-ANHUI/id_cache.db-wal
